*{
    margin: 0;
    padding: 0;
}
a{
    color: #005FAC;
    text-decoration: none;
}
.btn-primary{
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
}
/* header */
header{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    background-image: url(../images/banner/banner3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.h-content-right{
    width: 44%;
    /* align-self: center; */
    margin-right: 100px;
    padding-left: 50px;

}
.h-content-right h1{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
.h-content-right p{
    display: flex;
    justify-content: end;
    height: 80%;
    color: #FFFFFF;
    margin: 24px 0;
}
/* failure section styles */
.failure{
    width: 80%;
    margin: 130px auto;
}
.failure-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-align-right{
    margin-left: 87px;
}
.failure-content h1{
    font-weight: 700;
    font-size: 40px;
}
.failure-content p{
    color: #444343;
}
.failure-description{
    margin: 24px 0 16px;
}
.btn-success{
    color: green;
    margin-right: 8px;
}
/* Future Plan section style */
.my-plan{
    width: 80%;
    margin: 0 auto 130px;
    text-align: center;
}
.plan-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.skill-learning h3{
    font-weight: 700;
    font-size: 30px;
}
.skill-learning p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
.me-learning{
    display: flex;
    justify-content: space-evenly;
}
/* Bonus section styles */
.bonus{
    border: 1px solid red;
    width: 80%;
    height: 40vh;
    margin: 0 auto 130px;
    display: flex;
    align-items: center;
    background-image:url(../images/gradient1.png) ,url(../images/watch.png) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bonus-content{
    margin-left: 64px;
}
.bonus-content h1{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
/* Footer section  */
footer{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151414;
}
.footer-left{
    width: 40%;
}
.footer-left h1{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.footer-left p{
    color: #FFFFFF;
}
.footer-left .first-child{
    margin: 16px 0 24px;
}
.footer-left .last-child{
    margin: 16px 0 32px;
}
/* social icon color */
.social-icon{
    display: flex;
    gap: 18px;
}
.fa-brands{
    font-size: 25px;
}
.fa-facebook{
    color: #FFFFFF;
    background: #006AFF;
}
.fa-square-twitter{
    color: #FFFFFF;
    background: #1DA1F2;
}
.fa-square-youtube{
    color: #FFFFFF;
    background: #FF0000;
}
.footer-right h1{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.footer-right input{
    width: 340px;
    height: 30px;
    margin: 30px 0 16px;
    font-size: 20px;
    color: #F3F3F3;
    background-color: transparent;
    padding: 24px 10px;
    border-radius: 8px;
}
.footer-right .btn-primary{
    width: 160px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
}
.footer-right a{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}